<ion-header mode="ios" class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/auth/login"
				routerLink="/auth/login"
				routerDirection="back"
				text=""
			>
			</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
	<div class="main-content">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img [src]="imgMBPJ">
				</ion-col>
				<ion-col>
					<img [src]="imgSmartPJ">
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<form class="form" [formGroup]="resetForm">
						<p class="ion-text-center ion-padding-bottom">Please enter your credentials</p>
						<ion-item lines="none" class="ion-no-padding ion-no-margin">
							<ion-label position="stacked">Your Email</ion-label>
							<ion-input type="text" formControlName="email" placeholder="john@mbpj.gov.my"></ion-input>
						</ion-item>
	
						<div class="validation-errors">
							<ng-container *ngFor="let message of resetFormMessage.email">
								<div 
									class="error-message"
									*ngIf="resetForm.get('email').hasError(message.type) && (resetForm.get('email').dirty || resetForm.get('email').touched)"
								>
									{{ message.message }}
								</div>
							</ng-container>
						</div>
	
						<div class="ion-text-center">
							<ion-button 
								*ngIf="!isLoading"
								type="submit"
								[disabled]="!resetForm.valid"
								shape="round"
								color="primary"
								mode="ios"
							>
								Reset
							</ion-button>
							<ion-button 
								disabled
								*ngIf="isLoading"
								type="submit"
								shape="round"
								color="primary"
								mode="ios"
							>
								<ion-spinner name="bubbles"></ion-spinner>
							</ion-button>
						</div>
					</form>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>

<ion-footer class="ion-padding ion-no-border" mode="ios">
	<ion-grid>
		<ion-row>
			<ion-col>
        		<p class="copyright ion-text-center">Hak cipta terpelihara Majlis Bandaraya Petaling Jaya</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>