<ion-content class="ion-padding" fullscreen>
	<div class="main-content">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img [src]="imgMBPJ">
				</ion-col>
				<ion-col>
					<img [src]="imgSmartPJ">
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
						<p class="ion-text-center ion-padding-bottom">Please enter your credentials</p>
						<ion-item lines="none" class="ion-no-padding ion-no-margin">
							<ion-label position="stacked">Your NRIC/passport</ion-label>
							<ion-input type="text" formControlName="username" placeholder="900520115069 / A123456"></ion-input>
						</ion-item>
	
						<div class="validation-errors">
							<ng-container *ngFor="let message of loginFormMessages.username">
								<div 
									class="error-message"
									*ngIf="loginForm.get('username').hasError(message.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)"
								>
									{{ message.message }}
								</div>
							</ng-container>
						</div>
	
						<ion-item lines="none" class="ion-no-padding ion-no-margin">
							<ion-label position="stacked">Password</ion-label>
							<ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
						</ion-item>
	
						<div class="validation-errors ion-text-right">
							<p><a (click)="navigateForgotPage()">Forgot Password </a></p>
						</div>
	
						<div class="ion-text-center">
							<ion-button 
								*ngIf="!isLoading"
								type="submit"
								[disabled]="!loginForm.valid"
								shape="round"
								color="primary"
								mode="ios"
							>
								Login
							</ion-button>
							<ion-button disabled *ngIf="isLoading" type="submit" shape="round" color="primary" mode="ios">
								<ion-spinner name="bubbles"></ion-spinner>
							</ion-button>
							<p>No account yet? <a (click)="navigateRegisterPage()">Create an account.</a>
						</div>
					</form>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>

<ion-footer class="ion-padding ion-no-border" mode="ios" translucent>
	<ion-grid>
		<ion-row>
			<ion-col>
        		<p class="copyright ion-text-center">Hak cipta terpelihara Majlis Bandaraya Petaling Jaya</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>