<ion-header [translucent]="true" mode="ios" class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/core/profile" routerLink="/core/profile" routerDirection="back">
			</ion-back-button>
		</ion-buttons>
		<ion-title>FAQ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-card
		*ngFor="let faq of faqs; let i = index;" 
		class="accordian-list" 
		mode="ios"
		button
		[ngClass]="{'section-active': faq.open, 'section': !faq.open}"
		(click)="toggleSelection(i)"
	>
		<ion-card-header color="light" class="ion-no-padding ion-padding-start">
			<ion-item lines="none" class="ion-no-padding" color="light">
				<ion-icon slot="start" name="add-outline" *ngIf="!faq.open" color="primary"></ion-icon>
				<ion-icon slot="start" name="remove-outline" *ngIf="faq.open" color="primary"></ion-icon>
				<ion-label class="ion-text-wrap">
					{{faq.question}}
				</ion-label>
			</ion-item>
		</ion-card-header>

		<ion-card-content *ngIf="faq.open" class="ion-padding-top ion-text-wrap ion-justify-content-between">
			{{faq.answer}}
		</ion-card-content>
	</ion-card>
</ion-content>