<ion-header [translucent]="true" mode="ios" class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/core/profile"
				routerLink="/core/profile"
				routerDirection="back"
			>
			</ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-justify-content-center ion-align-items-center" fullscreen>
	<img [src]="imgConstruction" class="construction ion-align-self-center">
	<p class="ion-text-center construction-text">Page is under construction</p>
</ion-content>